In [29]:
# Question 1: Write a code to reverse a string.

def reverse_string(s):
    return s[::-1]

# Example
print(reverse_string("Hello"))

olleH

In [30]:
# Question 2: Write a code to count the number of vowels in a string.

def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

# Example
print(count_vowels("Hello World"))

3

In [31]:
# Question 3: Write a code to check if a given string is a palindrome or not.

def is_palindrome(s):
    return s == s[::-1]

# Example
print(is_palindrome("radar"))
print(is_palindrome("hello"))

True
False

In [32]:

# Question 4: Write a code to check if two given strings are anagrams of each other.

def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

# Example
print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "world"))

True
False

In [33]:
# Question 5: Write a code to find all occurrences of a given substring within another string.

def find_substring_occurrences(s, sub):
    occurrences = []
    index = s.find(sub)
    while index != -1:
        occurrences.append(index)
        index = s.find(sub, index + 1)
    return occurrences
# Example
print(find_substring_occurrences("hello hello", "lo"))

[3, 9]

In [34]:

# Question 6: Write a code to perform basic string compression using the counts of repeated characters.

def compress_string(s):
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return ''.join(compressed)

# Example
print(compress_string("aaabbcc"))

a3b2c2

In [35]:
# Question 7: Write a code to determine if a string has all unique characters.

def has_unique_chars(s):
    return len(s) == len(set(s))

# Example
print(has_unique_chars("abcde"))
print(has_unique_chars("abcdea"))

True
False

In [36]:
 # Question 8: Write a code to convert a given string to uppercase or lowercase.


def to_uppercase(s):
    return s.upper()

def to_lowercase(s):
    return s.lower()

# Example usage
print(to_uppercase("hello"))  # Output: "HELLO"
print(to_lowercase("HELLO"))  # Output: "hello"

HELLO
hello

In [37]:
# Question 9: Write a code to count the number of words in a string.

def count_words(s):
    return len(s.split())

# Example
print(count_words("Hello World"))

2

In [38]:
# Question 10: Write a code to concatenate two strings without using the + operator.

def concatenate_strings(s1, s2):
    return "{}{}".format(s1, s2)

# Example
print(concatenate_strings("Hello", "World"))

HelloWorld

In [39]:

# Question 11: Write a code to remove all occurrences of a specific element from a list.

def remove_element(lst, element):
    return [x for x in lst if x != element]

# Example
print(remove_element([1, 2, 3, 4, 2], 2))

[1, 3, 4]

In [40]:
# Question 12: Implement a code to find the second largest number in a given list of integers.

def find_second_largest(lst):
    unique_lst = list(set(lst))
    unique_lst.sort()
    return unique_lst[-2] if len(unique_lst) >= 2 else None

# Example
print(find_second_largest([1, 3, 4, 5, 0, 2]))

4

In [41]:
 # Question 13: Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

def count_occurrences(lst):
    occurrences = {}
    for item in lst:
        occurrences[item] = occurrences.get(item, 0) + 1
    return occurrences

In [42]:
# Question 14: Write a code to reverse a list in-place without using any built-in reverse functions.


def reverse_list(lst):
    start, end = 0, len(lst) - 1
    while start < end:
        lst[start], lst[end] = lst[end], lst[start]
        start += 1
        end -= 1
    return lst

# Example
print(reverse_list([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [43]:
# Question 15: Implement a code to find and remove duplicates from a list while preserving the original order of elements.

def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result

# Example
print(remove_duplicates([1, 2, 2, 3, 4, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [44]:
# Question 16: Create a code to check if a given list is sorted (either in ascending or descending order) or not.

def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

# Example
print(is_sorted([1, 2, 3, 4, 5]))
print(is_sorted([5, 4, 3, 2, 1]))
print(is_sorted([1, 3, 2]))

True
True
False

In [45]:
 # Question 17: Write a code to merge two sorted lists into a single sorted list.


def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

# Example
print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]

In [46]:
# Question 18: Implement a code to find the intersection of two given lists.


def find_intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

# Example
print(find_intersection([1, 2, 3], [2, 3, 4]))

[2, 3]

In [47]:
# Question 19: Create a code to find the union of two lists without duplicates.


def find_union(lst1, lst2):
    return list(set(lst1) | set(lst2))

# Example
print(find_union([1, 2, 3], [2, 3, 4]))

[1, 2, 3, 4]

In [48]:
# Question 20: Write a code to shuffle a given list randomly without using any built-in shuffle functions.


import random

def shuffle_list(lst):
    shuffled_lst = lst[:]
    for i in range(len(shuffled_lst)):
        swap_idx = random.randint(0, len(shuffled_lst) - 1)
        shuffled_lst[i], shuffled_lst[swap_idx] = shuffled_lst[swap_idx], shuffled_lst[i]
    return shuffled_lst

# Example
print(shuffle_list([1, 2, 3, 4, 5]))

[5, 4, 1, 3, 2]

In [49]:
# Question 21: Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

def tuple_intersection(tup1, tup2):
    return tuple(set(tup1) & set(tup2))

# Example
print(tuple_intersection((1, 2, 3), (2, 3, 4)))

(2, 3)

In [50]:
# Question 22: Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

def find_set_intersection():
    set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
    set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))
    intersection = set1 & set2
    return intersection

# Example
print("Intersection:", find_set_intersection())

Enter the first set of integers separated by commas: 34
Enter the second set of integers separated by commas: 45
Intersection: set()

In [51]:
# Question 23: Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

def concatenate_tuples(tup1, tup2):
    return tup1 + tup2

# Example
print(concatenate_tuples((1, 2, 3), (4, 5, 6)))

(1, 2, 3, 4, 5, 6)

In [52]:
  # Question 24: Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.
def find_difference_of_sets():
    set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
    difference = set1 - set2
    return difference

# Example
print("Difference:", find_difference_of_sets())

Enter the first set of strings separated by commas: 4
Enter the second set of strings separated by commas: 6
Difference: {'4'}

In [53]:
# Question 25: Create a code that takes a tuple and two integers as input. The function
# should return a new tuple containing elements from the original tuple within the specified range of indices.

def slice_tuple(tup, start, end):
    return tup[start:end]

# Example
print(slice_tuple((1, 2, 3, 4, 5), 1, 4))

(2, 3, 4)

In [54]:
# Question 26: Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

def find_union_of_sets():
    set1 = set(input("Enter the first set of characters separated by commas: ").split(','))
    set2 = set(input("Enter the second set of characters separated by commas: ").split(','))
    union = set1 | set2
    return union

# Example
print("Union:", find_union_of_sets())

Enter the first set of characters separated by commas: 3
Enter the second set of characters separated by commas: 7
Union: {'7', '3'}

In [55]:
# Question 27: Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

def find_max_min(tup):
    return max(tup), min(tup)

# Example
max_val, min_val = find_max_min((3, 1, 4, 1, 5, 9))
print("Max:", max_val)
print("Min:", min_val)

Max: 9
Min: 1

In [56]:
# Question 28: Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

def set_operations():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}
    union = set1 | set2
    intersection = set1 & set2
    difference = set1 - set2
    return union, intersection, difference

# Example
union, intersection, difference = set_operations()
print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}

In [57]:
# Question 29: Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

def count_element_in_tuple(tup, element):
    return tup.count(element)

# Example
print(count_element_in_tuple((1, 2, 3, 2, 4, 2), 2))

3

In [58]:
# Question 30: Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

def find_symmetric_difference():
    set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
    sym_diff = set1 ^ set2
    return sym_diff

# Example
print("Symmetric Difference:", find_symmetric_difference())

Enter the first set of strings separated by commas: 3
Enter the second set of strings separated by commas: 2
Symmetric Difference: {'3', '2'}

In [59]:
# Question 31: Write a code that takes a list of words as input and returns a
#  dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

def word_frequencies(words):
    freq_dict = {}
    for word in words:
        freq_dict[word] = freq_dict.get(word, 0) + 1
    return freq_dict

# Example
print(word_frequencies(["apple", "banana", "apple", "orange", "banana", "apple"]))

{'apple': 3, 'banana': 2, 'orange': 1}

In [60]:
#  Question 32: Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        merged_dict[key] = merged_dict.get(key, 0) + value
    return merged_dict

# Example
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}
print(merge_dictionaries(dict1, dict2))

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

In [61]:
# Question 33: Write a code to access a value in a nested dictionary. The function should
# take the dictionary and a list of keys as input, and return the corresponding value.
#  If any of the keys do not exist in the dictionary, the function should return None


def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

# Example
nested_dict = {'a': {'b': {'c': 42}}}
keys = ['a', 'b', 'c']
print(get_nested_value(nested_dict, keys))
print(get_nested_value(nested_dict, ['a', 'x', 'c']))

42
None

In [62]:
# Question 34: Write a code that takes a dictionary as input and returns a sorted
#version of it based on the values. You can choose whether to sort in ascending or descending order.

def sort_dict_by_value(d, ascending=True):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))

# Example
dict_to_sort = {'a': 3, 'b': 1, 'c': 2}
print(sort_dict_by_value(dict_to_sort))
print(sort_dict_by_value(dict_to_sort, ascending=False))

{'b': 1, 'c': 2, 'a': 3}
{'a': 3, 'c': 2, 'b': 1}

In [63]:
# Question 35: Write a code that inverts a dictionary, swapping keys and values.
# Ensure that the inverted dictionary correctly handles cases where multiple keys
# have the same value by storing the keys as a list in the inverted dictionary.

def invert_dictionary(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict

# Example
dict_to_invert = {'a': 1, 'b': 2, 'c': 1}
print(invert_dictionary(dict_to_invert))

{1: ['a', 'c'], 2: ['b']}